/**
1. GLOBAL LESS
 */
body {
  font-family: 'Arial-MT', Helvetica, Arial, sans-serif;
  color: #4a4a4a;
}
h2 {
  margin: 31px 0 25px 0;
}
.grey {
  background-color: #343434;
}
.row {
  margin: 0 !important;
}
.orange {
  background: #f9d246;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #f39c0b, #f9d246);
  /* Safari */
  background: -o-radial-gradient(circle, #f39c0b, #f9d246);
  /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #f39c0b, #f9d246);
  /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #f39c0b, #f9d246);
  /* Standard syntax */
}
.white-text {
  color: white !important;
}
.orange-text {
  color: #f39c0b !important;
}
.centerer {
  margin: 0 auto;
  display: table;
}
.spacer {
  height: 15px;
}
.section {
  margin-bottom: 40px;
}
.button-red {
  background-color: #da3400;
  padding: 15px;
  margin: 15px 0;
  display: inline-block;
}
.button-red.round {
  border-radius: 50px;
  color: #ffffff;
}
a.button-red {
  color: #FFF;
  text-decoration: none;
}
a.button-red:hover {
  color: #FFF;
}
/**
HEADER AND FOOTER LESS
 */
.navbar {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-bottom: 1%;
}
.navbar a {
  color: white !important;
}
.navbar .nav-options {
  font-size: 1.24em;
  font-weight: 800;
}
.navbar .nav-options li {
  margin-right: 35px !important;
}
.navbar .li-wrapper {
  padding-bottom: 8px !important;
  border-bottom: 2px solid white !important;
  margin-bottom: 5px;
}
.navbar .nav-contact-info i {
  padding-right: 10px;
  font-size: 1.2em;
}
.navbar .donate-button {
  border-radius: 800px;
  background-color: #da3400;
}
.navtab {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1050;
  margin-top: 8.1%;
}
.navtab .line-behind {
  background: linear-gradient(to top, #ffffff, #ffffff) repeat-x center;
  background-size: 4px 4px;
}
.navtab .navtab-box {
  background-image: linear-gradient(to right, #fad85f, #f5a623 32%, #f5a623 81%, #fad85f);
  padding: 1%;
}
.navtab .navtab-box h1 {
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.navtab .navtab-box .space-left {
  margin-left: 40px !important;
}
.navtab .navtab-box ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0 !important;
}
.navtab .navtab-box ul li {
  float: left;
  margin-left: 10px;
}
.navtab .navtab-box ul li div {
  border-radius: 50%;
  background-color: #f5a623;
  border: 3px solid;
  margin: auto;
  border-color: white;
  width: 100%;
  padding: 0 8px;
  text-align: center;
}
.navtab .navtab-box ul li div a {
  color: white;
  text-decoration: none;
}
.navtab .navtab-box ul li div.active {
  border-color: #4a90e2 !important;
}
.navtab .navtab-box ul li div.active a {
  color: #4a90e2 !important;
  text-decoration: none;
}
.navtab .navtab-box ul #li-impact-1 {
  margin-left: 0 !important;
}
.navtab::after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  margin: 0 auto;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 20px solid #f5a623;
}
.footer {
  border-top: solid white 3px !important;
}
.footer li {
  list-style: none;
}
.footer ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.footer .footerContainer {
  padding: 3%;
  padding-top: 2%;
}
.footer .footerContainer img {
  padding-top: 60px;
}
.footer .footerContainer h3 {
  color: white !important;
  font-weight: 700;
  font-size: 1.2em;
}
.footer .footerContainer .footer-nav li {
  padding-top: 10px !important;
}
.footer .footerContainer .fa-social {
  height: 34px;
  width: 34px;
  border: 2px solid #4a4a4a;
  background-color: #4a4a4a;
  font-size: 20px;
  padding: 5px 6px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  margin-right: 15px;
}
.footer .footerContainer .fa-chevron-right {
  font-size: 0.6em;
  margin-left: 10px;
}
.footer .footerContainer a {
  color: #f39c0b !important;
}
.footer .madeWithLove {
  font-size: 1.2em;
  padding: 5px !important;
  padding-top: 10px !important;
  color: white !important;
}
.footer .madeWithLove a {
  color: white !important;
}
/**
SECTION SPECIFIC LESS
 */
.index-page #journey {
  height: 580px;
}
.index-page #journey .journey-bg {
  position: absolute;
  z-index: -1;
}
.index-page #journey .journey-inner {
  display: block;
  position: relative;
  z-index: 999;
  padding-top: 300px;
}
.index-page #journey p {
  padding-bottom: 20px;
}
.index-page #who-we-are .highlight-box {
  border-radius: 8px;
  background-color: #fad85f;
}
.index-page #what-we-do .card img {
  border-radius: 9px;
  box-shadow: 7.5px 7.5px 25px 0 rgba(0, 0, 0, 0.2);
}
.index-page #how-to-help img {
  border-radius: 11px;
  box-shadow: 7.5px 7.5px 30px 0 rgba(0, 0, 0, 0.2);
}
.impacts-page .section {
  height: 540px;
  margin-bottom: 0;
  display: table;
}
.impacts-page .section.first {
  margin-top: 16%;
}
.impacts-page .section .section-bg {
  position: absolute;
  z-index: -1;
}
.impacts-page .section::before {
  content: '';
  position: absolute;
  width: 1140px;
  height: 540px;
  background: radial-gradient(circle at 23% 50%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
}
.impacts-page .section .inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 999;
}
.impacts-page .section .inner .inner-container {
  display: flex;
}
.impacts-page .section .feature-image {
  border-radius: 13px;
  border: solid 3px #f5a623;
}
.impacts-page .section p {
  padding-bottom: 20px;
}
.impacts-page .alternate .feature-image {
  order: 2;
}
.impacts-page .alternate .feature-text {
  order: 1;
}
.about-page .section h2 {
  margin-bottom: 40px;
}
.about-page .section:not(.title) {
  margin: 40px 0 50px;
}
.about-page .section:not(.title) h2 {
  margin-top: 60px;
}
.about-page .title {
  height: 482px;
}
.about-page .title img {
  position: absolute;
  z-index: -1;
}
.about-page .title .inner {
  display: block;
  position: relative;
  z-index: 999;
  padding-top: 250px;
}
.about-page .values .icon {
  border-radius: 50%;
  border-color: white;
  width: 150px;
  height: 150px;
  padding: 30px;
  margin: auto;
  border: 2px solid #f5a623;
  color: #f5a623;
  text-align: center;
}
.about-page .values .icon:not(.first)::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 0;
  left: -25px;
  top: 70px;
  border-top: 4px solid #f5a623;
}
.about-page .vision {
  margin-bottom: 100px !important;
}
.donate-page .container {
  padding-top: 12.8%;
}
.donate-page h2 {
  margin: 100px 0 20px;
}
.donate-page .card {
  margin: 30px 16.666666666667% 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
}
.donate-page .card .donate-form .donate-select {
  margin-bottom: 10px;
  margin-top: 20px;
  padding: inherit;
  border-style: none none solid none;
  width: 100%;
  background: url("../img/arrow-down.png") no-repeat right;
  outline: none;
}
.donate-page .card .donate-form .donate-amount .donate-amount-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.donate-page .card .donate-form .donate-amount .donate-amount-radio {
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7.5px;
  padding: 20px 10px 20px 10px;
  width: 100px;
  float: left;
  text-align: center;
}
.donate-page .card .donate-form .donate-amount .donate-amount-radio .stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.donate-page .card .donate-form .donate-amount .donate-amount-radio.selected {
  background-color: #f5a623;
  color: #343434;
}
.donate-page .card .donate-form .donate-amount .donate-amount-radio:not(.selected) {
  background-color: #9b9b9b;
  color: white;
}
.donate-page .card .donate-form .donate-submit {
  clear: both;
  width: 100%;
  margin: auto;
}
