@ORANGE: rgb(245, 166, 35);
@SQUASH: darken(rgb(245, 166, 35), 5%);
@GREY: rgb(52, 52, 52);
@DARKGREY: rgb(74, 74, 74);
@LIGHTGREY: #9b9b9b;
@LIGHTMUSTARD: darken(rgb(250, 216, 95), 5%);
@YELLOW: rgb(250, 216, 95);
@RED: rgb(218, 52, 0);
@MAINFONT: 'Arial-MT', Helvetica, Arial, sans-serif;

/**
1. GLOBAL LESS
 */
/*
responsive text align
*/
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}

body {
  font-family: @MAINFONT;
  color: @DARKGREY;
  width: 100%;
}

//default font size
p{
  font-size: 18px;
}

h2 {
  margin: 31px 0 25px 0;
}

.grey {
  background-color: @GREY;
}

.orange {
  //background-color: orange !important;
  background: @LIGHTMUSTARD; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, @SQUASH, @LIGHTMUSTARD); /* Safari */
  background: -o-radial-gradient(circle, @SQUASH, @LIGHTMUSTARD); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, @SQUASH, @LIGHTMUSTARD); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, @SQUASH, @LIGHTMUSTARD); /* Standard syntax */
}

.white-text {
  color: white !important;
}

.orange-text {
  color: @SQUASH !important;
}

.centerer {
  margin: 0 auto;
  display: table;
}

.v-center {
  margin: auto 0;
  height: 100%;
}

.spacer {
  height: 15px;
}

.section {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.half-line-break {
  display: block;
}

.button-red {
  background-color: @RED;
  border-width: 0;
  padding: 15px;
  margin: 15px 0;
  display: inline-block;

  &.button-fixed-size{
    width:175px;
  }

  &.round {
    border-radius: 50px;
    color: #ffffff;
  }

  &.big {
    padding: 20px;
    margin: 20px 0;
    font-size: 18px;
  }

  &.small {
    padding: 10px;
  }

  a& {
    color: #FFF;
    text-decoration: none;

    &:hover {
      color: #FFF;
    }
  }
}

.star-custom {
  border: solid 1px @LIGHTGREY;
  width: 75%;
  text-align: center;

  &::after {
    content: url("../img/star.png");
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: -20px;
    background-color: white;
  }
}

// This can be used to make bg img overlays automatically. Apply this class to the parent div and try make sure first element is the child img, and second-inf element is the inner content, might also need position absolutes to work
// Need to define height
div.section-bg-overlay {
  &::before {
    content: '';
    position: absolute;
    width: 1140px;
    background: radial-gradient(circle at 23% 50%, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  }
}

.slider-switch.switch-ios.switch-toggle {
  a {
    background-color: @ORANGE;
  }
}

/**
HEADER AND FOOTER LESS
 */

.navbar {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

  a {
    color: white !important;
  }

  .nav-options {
    font-size: 1.24em;
    font-weight: 800;
    li {
      margin-right: 35px;
    }
  }

  .li-wrapper {
    padding-bottom: 8px !important;
    border-bottom: 2px solid white !important;
    margin-bottom: 5px;
  }

  .nav-contact-info {
    i {
      padding-right: 10px;
      font-size: 1.2em;
    }
  }

  .donate-button {
    border-radius: 800px;
    background-color: @RED;
  }

  .mobile {
    .col-xs-4, .col-xs-5, .col-xs-7, .col-xs-8 {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-brand {
      padding-right: 0;
      padding-left: 10px;
    }

    .navbar-nav li {
      margin-right: 0;

      &:hover {
        background: @ORANGE;
      }
    }

    .navbar-toggle {
      margin-right: 30px;
    }
  }
}

.navtab {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1050;
  //margin-top: 8.1%;

  //#li-impact
  .navtab-box {
    background-image: linear-gradient(to right, @YELLOW, @ORANGE 32%, @ORANGE 81%, @YELLOW);
    padding: 1%;

    h1 {
      padding: 0;
      margin: 0;
      display: inline-flex;
    }

    .space-left {
      margin-left: 40px !important;
    }

    ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding-left: 0 !important;

      li {
        float: left;
        margin-left: 10px;

        /* Does the circle as well. a tag controls the text color, not div/li */
        div {
          border-radius: 50%;
          //background-color: linear-gradient(to right, @YELLOW, @ORANGE 32%, @ORANGE 81%, @YELLOW);
          background-color: @ORANGE;
          border: 3px solid;
          margin: auto;
          border-color: white;
          width: 100%;
          padding: 0 10px;
          text-align: center;

          a {
            color: white;
            text-decoration: none;
          }

          &::before {
            content: "";
            display: block;
            position: relative;
            width: 12px;
            height: 0;
            top: 19px;
            left: -23px;
            border-bottom: solid white 3px;
          }
        }

        &.selected {
          a {
            color: @LIGHTGREY !important;
          }
          div {
            border-color: @LIGHTGREY !important;
          }
          div::before {
            border-bottom: solid @LIGHTGREY 3px !important;
          }
        }
      }

      #li-impact-1 {
        margin-left: 0 !important;
      }
    }

  }

  /* THE ORANGE TRIANGLE LOL */
  &::after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    margin: 0 auto;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 20px solid @ORANGE;
  }
}

.footer {
  border-top: solid white 3px !important;

  li {
    list-style: none;
  }

  ul {
    padding-left: 0;
  }

  .footerContainer {
    padding: 3%;
    padding-top: 2%;

    img {
      padding-top: 60px;
    }

    h3 {
      .white-text;
      font-weight: 700;
      font-size: 1.2em;
      margin: 25px 0 20px 0;
    }

    .footer-info a {
      .white-text;
    }

    .footer-nav {
      li {
        padding-top: 10px;
      }
      a {
        .orange-text;
      }
    }

    .social-area {
      a {
        .orange-text;
      }

      .fa-social {
        height: 34px;
        width: 34px;
        border: 2px solid darken(grey, 21%);
        background-color: darken(grey, 21%);
        font-size: 20px;
        padding: 5px 6px;
        border-radius: 50%;
        color: white;
        transition: all 0.5s;
        margin-right: 15px;
      }
    }

    .fa-chevron-right {
      font-size: 0.6em;
      margin-left: 10px;
    }

    &.mobile {
      .btn {
        padding: 6px 0;
        color: white;
      }
      .fa-social {
        margin-right: 0;
      }
    }
  }

  .madeWithLove {
    font-size: 1.2em;
    padding-top: 10px;
    .white-text;
    a {
      .white-text
    }
  }
}

/**
SECTION SPECIFIC LESS
 */

// Home.php section
.index-page {
  .journey-bg-outer {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* Standard syntax (must be last)*/
    height: 580px;
    color: white;

    .journey-bg {
      object-fit: cover;
      position: absolute;
      overflow: hidden;
      height: 580px;
      width: 1140px;
      z-index: -1;
    }

    .journey-inner {
      display: block;
      position: relative;
      z-index: 999;
      padding-top: 300px;
    }

    p {
      padding-bottom: 20px;
    }

    @media (max-width: 767px) {
      margin: 0 -15px 40px -15px;

      .journey-inner {
        padding-top: 80%;
        margin: 0;
      }
    }
  }

  #who-we-are {
    .highlight-box {
      border-radius: 8px;
      background-color: @YELLOW;
    }
  }

  #what-we-do {
    .card {
      img {
        border-radius: 9px;
        box-shadow: 7.5px 7.5px 25px 0 rgba(0, 0, 0, 0.2);
        height: 240px;
      }
    }
  }

  #how-to-help {
    .image-section {
      margin: 50px;
      height: 550px;
      width: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../img/stock/how_to_help.jpg");
      border-radius: 10px;
    }
  }
}

.impacts-page {
  color: white;

  hr {
    color: @ORANGE;
    border-color: @ORANGE;
  }

  .section {
    height: 600px;
    margin-bottom: 0;
    display: table;
    color: white;

    &.first {
      margin-top: 16%;
    }

    &.alternate {
      .feature-image {
        order: 2;
      }

      .feature-text {
        order: 1;
      }
    }

    .relative-anchor {
      display: block;
      position: relative;
      top: -200px;
      visibility: hidden;
    }

    .section-bg {
      position: absolute;
      z-index: -1;
      width: 1140px;
      height: 600px;
    }
    .inner-image {
      height: 450px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 1140px;
      height: 600px;
      background: radial-gradient(circle at 23% 50%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    }

    .inner {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 999;
      text-align: center;

      .inner-container {
        display: flex;
        width: 80%;
        margin: 0 auto;
      }
    }

    .feature-image {
      border-radius: 13px;
      border: solid 3px @ORANGE;
      overflow: hidden;
      padding: 0;
      height: 100%;
      margin: auto;
    }

    p {
      padding-bottom: 20px;
    }
  }
}

.about-page {
  .img-center{
    margin: auto;
  }
  .section {
    h2 {
      margin-bottom: 40px;
    }

    &:not(.title) {
      margin: 40px 0 50px;

      h2 {
        margin-top: 60px;
      }
    }
  }

  .section-bg-overlay::before {
    height: 500px;
  }

  .title {
    height: 500px;

    img {
      position: absolute;
      z-index: -1;
      width: 1140px;
      height: 325px;
      object-fit: cover;
      margin-top: 175px;
    }

    .inner {
      display: block;
      position: relative;
      z-index: 999;
      padding-top: 250px;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }

  .values {
    .icon {
      width: 150px;
      height: 150px;
      margin: auto;

      &:not(.first)::before {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 0;
        left: -25px;
        top: 70px;
        border-top: 4px solid @ORANGE;
      }
    }
  }
  .founder {
    img {
      border-radius: 6px;
    }
  }
  .vision {
    margin-bottom: 100px !important;
  }
}

.donate-page {
  .container-first {
    padding-top: 170px;
  }

  .col-md-6 {
    padding: 0;
  }

  h2 {
    margin: 100px 0 20px;
  }
  .donate-p {
    padding: 25% 5% 0% 5%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
  }
  u {
    color: @ORANGE;
  }

  // Main Donate page sections
  .donate-section {
    &:hover {
      background-color: @LIGHTMUSTARD;

      u {
        color: white;
      }
    }
    .img-donate {
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .img-donut {
      background-image: url("../img/donate/donuts.jpg");
    }

    .img-earbuds {
      background-image: url("../img/donate/earbuds.jpg");
    }

    .img-phone {
      background-image: url("../img/donate/phone_case.jpg");
    }

    .img-shoes {
      background-image: url("../img/donate/shoes.jpg");
    }

  }

  // Donate modal
  .donate-modal {
    .row {
      margin: 0;
    }

    // TODO: @minimike511 what is this?
    /*.donate-select {
      margin-bottom: 10px;
      margin-top: 20px;
      padding: inherit;
      border-style: none none solid none;
      width: 100%;
      background: url("../img/arrow-down.png") no-repeat right;
      outline: none;
    }*/

    .donate-amount {
      .donate-amount-container {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .smooth {
          opacity: 1;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;

          &.hidden {
            width: 0;
            display: block !important;
            opacity: 0;
          }
        }

        .col-md-2 {
          padding-left: 0;
          padding-right: 0;
        }

        .donate-amount-radio {
          box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
          border-radius: 7.5px;
          padding: 20px 10px 20px 10px;
          width: 100px;
          float: left;
          text-align: center;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;

          .stretch {
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0
          }

          &.selected {
            background-color: @ORANGE;
            color: @GREY;
          }

          &:not(.selected) {
            background-color: @LIGHTGREY;
            color: white;
          }
        }
      }
    }

    .donate-submit {
      clear: both;
      width: 100%;
      margin: auto;
    }
  }

  .card {
    margin: 30px 16.666666666667% 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 40px 40px;
  }

  .donate-other-amount {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    width: inherit;
    margin-top: 10px;
  }

  .donate-other-amount:focus {
    border-bottom: solid 2px #969696;
    outline: none;
  }

  .donate-other-amount:active {
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    transition-timing-function: ease

  }
}

.contact-page {
  .container {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .msg-info {
    //font-family: ArialMT;
    //ont-size: 16px;
    text-align: left;
    color: @DARKGREY;

  }
  .msg-label {
    // font-family: LucidaGrande;
    font-size: 15px;
    text-align: left;
    color: @LIGHTGREY;
  }
  .fullWidth {
    width: 100%;
  }
}

// Donation check box css
#checkbox (@character:"✓", @family:~"sans-serif, arial", @weight:bold) {
  content: @character;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-radius: .1875em;
  font-style: normal;
  font-weight: @weight;
  font-family: @family;
  vertical-align: middle;
  text-align: center;
  transition: all .2s linear;
  cursor: pointer;
}

#checkbox-color (@color:#fff, @background:#ddd) {
  color: @color;
  text-shadow: 0 0 0 @color;
  background-color: @background;
}

#checkbox-size (@width:1.125em, @height:1.125em, @size:1em) {
  width: @width;
  height: @height;
  font-size: @size;
  line-height: @height;
}

.donate-box {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* checkbox */

.ui-checkbox:before,
.ui-checkbox-after:after {
  #checkbox("\2714", ~"ui-checkbox", normal);
  #checkbox-color(#fff, #ddd);
  #checkbox-size(1.25em, 1.25em, .9em);
}

/* checkbox:checked */
.ui-checkbox-checked:before,
.ui-checkbox-checked-after:after,
input[type=radio]:checked + .ui-checkbox:before {
  #checkbox-color(#fff, @ORANGE);
}

#donate-btn {
  background-color: @ORANGE;

  h1 {
    padding: 2% 0 0 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: white;
  }

}

.donate-form {
  width: 100%;
}